body {background-color: lightblue}
h1 {color:blue;}
h2 {color: aqua;}
hr {border: 10px solid darkred;}
span {font-size: 50px;} 
p {color: green;}

.p1 {color: coral;}
.p2 {color: aquamarine;}
.p3 {color: greenyellow;}

#pid1 {color: magenta;}
#pid2 {color: orchid;}
#pid3 {color: plum;}